<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Result</title>
</head>

<body>
    <div class="container">
        <h3>Thanks for submitting!</h3>
        <div id="info">
            <p>Name:
                <%= Info.Name %>
            </p>
            <p>Dojo Location:
                <%= Info.DojoLocation %>
            </p>
            <p>Favorite Language:
                <%= Info.FavoriteLanguage %>
            </p>
            <p>Comment:
                <%= Info.Comment %>
            </p>
            <a class='btn btn-secondary' href="/">Go back</a>
        </div>
    </div>
</body>

</html>